In [1]:
import pandas as pd

In [20]:
df = pd.read_clipboard()

In [24]:
df = df.dropna()
df.tail()

       Column4  Column7  Column9 的计数
23837   5606.0   5602.0      12008.0
23838   5606.0   5603.0       8491.0
23839   5606.0   5604.0       8390.0
23840   5606.0   5605.0       1545.0
23841   5606.0   5606.0       4144.0

In [26]:
df['Column4'] = df['Column4'].astype(int)
df['Column7'] = df['Column7'].astype(int)
df['Column9 的计数'] = df['Column9 的计数'].astype(int)

In [28]:
df.head()
df.tail()

       Column4  Column7  Column9 的计数
23837     5606     5602        12008
23838     5606     5603         8491
23839     5606     5604         8390
23840     5606     5605         1545
23841     5606     5606         4144

In [11]:
key = {302: 605,
  225: 606,
  301: 606,
  303: 605,
  224: 606,
  304: 605,
  305: 607,
  223: 727,
  222: 727,
  306: 601,
  221: 727,
  307: 607,
  220: 724,
  308: 607,
  219: 724,
  309: 607,
  218: 723,
  310: 855,
  217: 729,
  601: 857,
  216: 725,
  311: 855,
  215: 935,
  602: 857,
  312: 856,
  214: 934,
  213: 931,
  212: 932,
  313: 856,
  603: 857,
  314: 856,
  211: 932,
  604: 857,
  315: 856,
  210: 294,
  316: 854,
  110: 938,
  109: 293,
  317: 850,
  111: 353,
  108: 294,
  107: 294,
  209: 294,
  112: 351,
  106: 298,
  208: 298,
  105: 296,
  318: 296,
  207: 295,
  103: 300,
  201: 300,
  114: 351,
  104: 299,
  605: 855,
  113: 342,
  202: 300,
  102: 848,
  606: 848,
  206: 295,
  319: 295,
  115: 342,
  203: 389,
  320: 391,
  204: 385,
  205: 385,
  116: 347,
  607: 853,
  501: 278,
  321: 387,
  1009: 385,
  608: 853,
  117: 347,
  613: 278,
  610: 385,
  1010: 385,
  322: 277,
  612: 277,
  609: 385,
  611: 277,
  502: 276,
  614: 276,
  118: 383,
  323: 278,
  503: 279,
  615: 279,
  1011: 279,
  325: 279,
  324: 279,
  326: 279,
  401: 384,
  402: 384,
  119: 345,
  327: 279,
  1012: 279,
  124: 328,
  123: 328,
  122: 335,
  406: 388,
  408: 279,
  121: 337,
  120: 337,
  407: 279,
  1013: 279,
  616: 286,
  504: 286,
  328: 279,
  405: 388,
  404: 388,
  505: 286,
  403: 388,
  1014: 284,
  617: 287,
  329: 284,
  506: 286,
  618: 287,
  330: 284,
  1015: 282,
  331: 282,
  507: 283,
  1016: 281,
  619: 288,
  1017: 274,
  508: 283,
  332: 283,
  509: 283,
  620: 285,
  5601: 285,
  5602: 285,
  1018: 281,
  333: 283,
  510: 283,
  5603: 285,
  621: 285,
  334: 280,
  335: 280,
  336: 281,
  337: 281,
  5604: 266,
  1019: 261,
  338: 261,
  5605: 266,
  1021: 261,
  339: 261,
  1020: 261,
  1022: 289,
  622: 869,
  1023: 289,
  1024: 289,
  1025: 289,
  5606: 289,
  1026: 289,
  340: 261,
  623: 869,
  341: 262,
  624: 869,
  1027: 289,
  342: 262,
  343: 265,
  344: 265,
  625: 875,
  345: 265,
  626: 875,
  627: 874,
  628: 873}

In [29]:
def deal(x):
    if x in key.keys:
        return key[x]
    else:
        return 0

In [30]:
df['Column4'] = df['Column4'].apply(deal)
df['Column7'] = df['Column7'].apply(deal)

TypeError: argument of type 'builtin_function_or_method' is not iterable

In [14]:
new_df = pd.DataFrame()
new_df['站点编号'] = df['站点编号']
new_df['区域编号'] = df['FID_重庆市']

In [19]:
dic = new_df.set_index("站点编号").T.to_dict("int")

In [20]:
dic

{'区域编号': {302: 605,
  225: 606,
  301: 606,
  303: 605,
  224: 606,
  304: 605,
  305: 607,
  223: 727,
  222: 727,
  306: 601,
  221: 727,
  307: 607,
  220: 724,
  308: 607,
  219: 724,
  309: 607,
  218: 723,
  310: 855,
  217: 729,
  601: 857,
  216: 725,
  311: 855,
  215: 935,
  602: 857,
  312: 856,
  214: 934,
  213: 931,
  212: 932,
  313: 856,
  603: 857,
  314: 856,
  211: 932,
  604: 857,
  315: 856,
  210: 294,
  316: 854,
  110: 938,
  109: 293,
  317: 850,
  111: 353,
  108: 294,
  107: 294,
  209: 294,
  112: 351,
  106: 298,
  208: 298,
  105: 296,
  318: 296,
  207: 295,
  103: 300,
  201: 300,
  114: 351,
  104: 299,
  605: 855,
  113: 342,
  202: 300,
  102: 848,
  606: 848,
  206: 295,
  319: 295,
  115: 342,
  203: 389,
  320: 391,
  204: 385,
  205: 385,
  116: 347,
  607: 853,
  501: 278,
  321: 387,
  1009: 385,
  608: 853,
  117: 347,
  613: 278,
  610: 385,
  1010: 385,
  322: 277,
  612: 277,
  609: 385,
  611: 277,
  502: 276,
  614: 276,
  118: 383,
  323: 278,
  503: 279,
  615: 279,
  1011: 279,
  325: 279,
  324: 279,
  326: 279,
  401: 384,
  402: 384,
  119: 345,
  327: 279,
  1012: 279,
  124: 328,
  123: 328,
  122: 335,
  406: 388,
  408: 279,
  121: 337,
  120: 337,
  407: 279,
  1013: 279,
  616: 286,
  504: 286,
  328: 279,
  405: 388,
  404: 388,
  505: 286,
  403: 388,
  1014: 284,
  617: 287,
  329: 284,
  506: 286,
  618: 287,
  330: 284,
  1015: 282,
  331: 282,
  507: 283,
  1016: 281,
  619: 288,
  1017: 274,
  508: 283,
  332: 283,
  509: 283,
  620: 285,
  5601: 285,
  5602: 285,
  1018: 281,
  333: 283,
  510: 283,
  5603: 285,
  621: 285,
  334: 280,
  335: 280,
  336: 281,
  337: 281,
  5604: 266,
  1019: 261,
  338: 261,
  5605: 266,
  1021: 261,
  339: 261,
  1020: 261,
  1022: 289,
  622: 869,
  1023: 289,
  1024: 289,
  1025: 289,
  5606: 289,
  1026: 289,
  340: 261,
  623: 869,
  341: 262,
  624: 869,
  1027: 289,
  342: 262,
  343: 265,
  344: 265,
  625: 875,
  345: 265,
  626: 875,
  627: 874,
  628: 873}}

In [21]:
x = None

In [22]:
x

In [23]:
def deal(x):
    if x==None:
        return 0
    else:
        return 1

In [24]:
deal(x)

0

In [25]:
deal(41241)

1