In [1]:
import pandas as pd

In [3]:
pf = pd.read_clipboard()

In [4]:
pf

     FID_重庆市
0        261
1        261
2        261
3        261
4        262
5        263
6        265
7        265
8        265
9        266
10       277
11       277
12       277
13       277
14       278
15       279
16       279
17       279
18       279
19       279
20       280
21       281
22       281
23       282
24       282
25       283
26       283
27       283
28       283
29       284
..       ...
98       850
99       852
100      853
101      853
102      853
103      854
104      855
105      855
106      855
107      855
108      855
109      855
110      856
111      856
112      856
113      857
114      857
115      857
116      869
117      869
118      869
119      872
120      873
121      874
122      876
123      931
124      931
125      931
126      931
127      938

[128 rows x 1 columns]

In [10]:
pf['FID_重庆市'].drop_duplicates().count()

57